:root {
    --backgroundColor: #eee;
    --titleColor: #d9e8ff;
    --borderColor: #a7b3c7;
    --buttonColor: #ddd;
    --darkAccent: #80b7d1;
}

button:hover {
    cursor: pointer;
}

button {
    background: var(--buttonColor);
    border: 1px solid var(--borderColor);
}

body {
    align-content: center;
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: Constantia, serif;
    letter-spacing: 1px;
    font-weight: 100;
    background-image: url("imgs/background.jpg");
    position: relative;
}

h1.header {
    background-color: var(--titleColor);
    width: 100%;
    margin: 0px;
    padding-top: 25px;
    padding-left: 30px;
    padding-bottom: 25px;
    
}

#logoutButton {
    right: 55px;
    position: absolute;
    top: 60px;
}

#currentUserMessage {
    position: absolute;
    top: 0px;
    font-size: 12px;
    right: 30px;
    font-weight: normal;
    text-align: center;
}

div.loginContainer {
    width: 20%;
    height: 250px;
    margin-left: 40%;
    margin-top: 100px;
    text-align: center;
    background: #eeeeee;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.loginContainer a {
    color: var(--darkAccent);
}
.card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
#loginResult {
    margin-left: 35%;
    width: 30%;
    font-size: 30px;
    font-weight: 1000;
    text-align: center;
    padding: 15px;
    border: solid 1px var(--borderColor);
    background: var(--backgroundColor);
    /* font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #7BAFD4; */
}
#createButton {
    width: 50px;
    height: 50px;
    margin-left: 17%;
    margin-bottom: 0px;
    font-size: 30px;
    border: solid var(--borderColor);
    border-width: 1px;
    background: var(--buttonColor)
}
div.newPost {
    padding: 10px 0px 35px 0px;
    margin-left: 17%;
    border-width: 1px;
    width: 55%;
    background: var(--backgroundColor);
    margin-bottom: 15px;
    border: solid var(--borderColor) 1px;
    position: relative;
}
.newPost textArea {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    border: 1px solid var(--borderColor);
    border-radius: 5px;
    resize: vertical;
    min-height: 100px;
    font-size: 16px; 
    line-height: 1.5;
    background-color: #f9f9f9; 
    outline: none; 
}

.newPost input {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    border: 1px solid var(--borderColor);
    border-radius: 5px;
    resize: vertical;
    min-height: 20px;
    font-size: 16px; 
    line-height: 1.5; 
    color: #333;
    background-color: #f9f9f9; 
    outline: none; 
}
.newPost button {
    position: absolute;
    bottom: 7px;
    width: 35px;
    height: 35px;
    font-size: 25px;
    background: var(--buttonColor);
    border: solid var(--borderColor) 1px;
}

.newPost p {
    padding-left: 15px;
}

div.post {
    padding-left: 0px;
    padding-bottom: 10px;
    margin-left: 17%;
    border: solid var(--borderColor);
    border-width: 1px;
    width: 55%;
    margin-bottom: 0px;
    background: var(--backgroundColor);
    position: relative;
    margin-bottom: 15px;
    min-height: 150px;
}
.postHeader {
    background: var(--titleColor);
    padding: 10px 0px 10px 0px;
    margin: 0px;
}
.post p {
    font-weight: normal;
    padding-left: 15px;
}
.post h4 {
    padding-left: 15px;
}
.deleteButton {
    position: absolute;
    right: 10px;
    top: 2px;
    width: 35px;
    height: 35px;
    font-size: 25px;
    text-align: center;
    background: var(--buttonColor);
    border: solid 1px var(--borderColor)
}

.editButton {
    margin-left: 10px;
    position: absolute;
    width: 35px;
    height: 35px;
    right: 50px;
    top: 2px;
    font-size: 25px;
    background: var(--buttonColor);
    border: solid 1px var(--borderColor);
}

#sideContent {
    width: 200px;
    height: 1300px;
    border: solid var(--borderColor) 1px;
    position: absolute;
    left: 72%;
    top: 263px;
    margin-left: 5px;
    background: var(--backgroundColor);
    text-align: center;
}

.editPost {
    display: none;
    position: fixed;
    z-index: 1000;
    width: 40%;
    height: 500px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--backgroundColor);
    border: 1px solid var(--borderColor);
}

.editPost textarea {
    margin-top: 50px;
}
.overlay {
    top: 0px;
    left: 0px;
    width: 50px;
    height: 100px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

#generatePost {
    position: absolute;
    left: 50px;
}

#generatePostButton {
    width: 50px;
    height: 50px;
    position: absolute;
    margin-left: 10px;
    font-size: 30px;
}

#adminSettingsButton {
    width: 50px;
    height: 50px;
    position: absolute;
    margin-left: 70px;
    font-size: 30px;
}

#backButton {
    width: 50px;
    height: 50px;
    margin-top: 50px;
    margin-left:17%;
    font-size: 30px;
}

.user button {
    width: 100px;
    height: 35px;
    position: absolute;
    bottom: 10px;
    margin-left: 15px;
}

#promoteUserButton {
    left: 0px;
}

#deleteUserButton {
    left: 110px;
}

.weatherIcon {
    border: 2px solid var(--borderColor);
}